@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

:root {
  --color-background: #f5f5f5;
  --color-foreground: #111111;
  --color-primary: #838383;
  --color-accent: #cc6600;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), Arial,
    Helvetica, sans-serif;
}
